
/* Your CSS Code here. */
*{
	margin:0;
	padding:0;
}

.item{
	border:2px solid black;
	background-color:red;
	height:200px;
	width:200px;
}

.holder{
	display:flex;
	justify-content:space-evenly;
	gap:20px;
	flex-wrap:wrap;
}